- present session do |session_presenter|
  = content_tag_for(:section, session) do
    %h1= link_to session_presenter.heading, course_session_path(course, session)
    %ul.info
      %li.date= session_presenter.date
      %li.time= session_presenter.time
      %li.location= session_presenter.location

    = session_presenter.description
    
    - works_cited(session.references, "Readings")