- present meeting do |meeting_presenter|
  = content_tag_for(:section, meeting) do
    %h1= link_to meeting_presenter.heading, course_meeting_path(meeting)
    %ul.info
      %li.date= meeting_presenter.date
      %li.time= meeting_presenter.time
      %li.location=  meeting_presenter.location

    = meeting_presenter.description
    = meeting_presenter.tags
    
    - if meeting.textbook_readings 
      %section.bibliography
        %h1 Textbook
        %ul
          %li= meeting_presenter.textbook

    - unless meeting.references.empty?
      - works_cited(meeting.references, "Readings")

