- present section do |section_presenter|
  = content_tag_for(:section, section) do
    %h1= link_to section_presenter.heading, course_section_path(section)
    = section_presenter.description

    - if section.meetings.size > 0
      = render section.meetings

    - if section.assignments.size > 0
      = render section.assignments
