- present @course do |course_presenter|
  %hgroup.course_title
    %div.course_prefix= @course.title_prefix
    %h1= course_presenter.heading

  %section.course_description
    = course_presenter.description
  
%section.course_program
  %h1 Course Program
  - if @sessions.size > 0 && @sessions.first.section == nil
    = render @sessions.first
  - if @sections.size > 0
    = render @sections
  - else
    = render @sessions