%section.bibliography
  = form_tag references_path, method: :get do
    %p
      = text_field_tag :query, params[:query]
      = submit_tag "Search", name: nil
%section.bibliography
  %h1 Tags
  %ul.tags
    - references.facets['tag_list']['terms'].each do |facet|
      %li
        = link_to_unless_current facet['term'], params.merge(tags: facet['term'])
        %span= "(#{ facet['count']})"
- works_cited(references)


/ <div id="facets">
/   <h3>Authors</h3>
/   <ul>
/     <% @articles.facets['authors']['terms'].each do |facet| %>
/       <li>
/         <%= link_to_unless_current Author.find(facet['term']).name, params.merge(author_id: facet['term']) %>
/         <% if params[:author_id] == facet['term'].to_s %>
/           (<%= link_to "remove", author_id: nil %>)
/         <% else %>
/           (<%= facet['count'] %>)
/         <% end %>
/       </li>
/     <% end %>
/   </ul>
/ </div>